<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "E-posta" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Şifre" %> <i>(Değiştirmek istemiyorsanız boş bırakın)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Şifre Doğrulama" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Şimdiki Şifreniz" %> <i>(Değişikliklerinizi kaydedebilmek için şifrenize ihtiyacımız var.)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Hesabımı İptal Edin</h3>

<p>Olmadı mı? :( <%= button_to "Hesabı sil", registration_path(resource_name), data: { confirm: "Emin misiniz?" }, method: :delete %></p>

<%= link_to "Geri", :back %>
