<h1>Sözlük</h1>

<% unless logged_in or admin_logged_in %>
<h3>Merhaba, Ruby on Rails ile yazılmış bir sözlük denemesine bakmaktasınız.</h3>
<div class="col-md-6">
	Sözlükte yazı yazabilmek için sağ üst köşedeki ya da hemen aşağıdaki "Kaydol" butonlarını kullanabilirsiniz.
	<p>
	<a class="btn btn-success" href="/writer/sign_up">Kaydol &raquo;</a>
	</p>
</div>

<div class="col-md-6">
	Eğer halihazırda kayıtlı üyeyseniz "Giriş Yap" butonlarını kullanabilir, muhteşem sözlüğün harikulade mizah anlayışı falan filan yapıp oradan da ohooo edebilirsiniz. Sırf lorem ipsum yazmamak için uzattık.

	<p>
	<a class="btn btn-info" href="/writer/sign_in">Giriş Yap &raquo;</a>
	</p>
</div>
<% end %>

<h3><%=random_post%></h3>

<ul class="list-group">
  <li class="list-group-item"><%= @post.content %></li>
  <li class="list-group-item">Posted by: <%= @post.writer.email %></li>
  <li class="list-group-item">Posted at: <%= @post.created_at %></li>
  <li class="list-group-item list-group-item-info">Last Edit: <%= @post.updated_at %></li>
</ul>


<%= link_to_if(!current_writer.nil?, 'Tüm Postları Görüntüle', writer_posts_path) %> | 
<%= link_to_if(!current_writer.nil?, "Post Oluştur", new_writer_post_path) %>

