<div class="page-header">
  <h1>Gönderileriniz <small>Tüm gönderiler</small></h1>
<%= search_form_for [:writer, @search] do |f| %>
<div>     
  <%= f.label "Başlık" %>
  <%= f.search_field :title_cont %>
  <%= f.label "İçerik" %>
  <%= f.search_field :content_cont %>
   
  <%= f.submit 'Ara', class: 'btn btn-default' %>
<% end %>
</div>

<table class="table table-bordered table-hover">
  <thead>
      <th>Başlık</th>
      <th>İçerik</th>
      <th>Düzenle</th>
      <th>Sil</th>
  </thead>
  <tbody>
  <%= render @posts %>
  </tbody>
</table>

<%= will_paginate @posts %>
<p>
<%= link_to 'Anasayfa', root_path %> | 
<%= link_to "Post Oluştur", new_writer_post_path %>
</p>
