<h3><%=@post.title.upcase%></h3>

<ul class="list-group">
  <li class="list-group-item"><%= @post.content %></li>
  <li class="list-group-item">Posted by: <%= @post.writer.email %></li>
  <li class="list-group-item">Posted at: <%= @post.created_at %></li>
  <li class="list-group-item list-group-item-info">Last Edit: <%= @post.updated_at %></li>
</ul>
